.category {
    &__sort {
        outline: none;
        width: 80%;
        text-align: center;
        font-size: 1.6rem;
    }
    &__title {
        margin-top: 35px;
        font-size: 1.8rem;
        font-weight: 600;
    }
    &__list {
    }
    &__item {
        cursor: pointer;
        font-size: 1.7rem;
        padding: 10px 0;
        margin-top: 10px;
    }
}
